@charset "utf-8";
.top {
	height:66px;
	width:100%;
	overflow:hidden;
	clear:both;
}
.top .top_link ul li.welcome {
    border-right: medium none;
    color:#7DE10F;
    padding-right: 6px;
}
.top .top_link ul li a {
    color: #aaa;
    padding-left: 11px;
    padding-right: 11px;
    text-decoration: none;
	font-size:12px; font-family:"微软雅黑";
}
.top .top_link ul li a:hover{ color:#fff; text-decoration:none;}
.dbox dt.lside {
    background: url(dlgtitle.gif) repeat-x scroll 0 0 transparent;
	height:35px;
	line-height:35px;
}
.dbox {
    border: 1px solid #eee;
    margin-left: 1%;
    margin-top: 8px;
    width: 98%;
	background:#fff;
}
.dbox dt {
    color: #3B5995;
    cursor: move;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
}
a b {
    color: #3B5995;
}
b, strong {
    color: #3B5995;
}
.topnav {
    background: url("admin_top_bg.gif") repeat-x scroll left -37px transparent;
    clear: both;
    height: 29px;
    overflow: hidden;
    width: 100%;
}
a.mmac div {
   
    color: #fff;
    font-weight: normal;
    height: 37px !important;
    padding: 6px 4px 4px 10px;
    word-wrap: break-word;
	background:#6BC30D;
	font-family:"微软雅黑";
}
a.mm:hover div {
	
	color:#fff;
}
dl.bitem dt b, dl.bitem2 dt b {
    color:#7DE10F;
	font-family:"微软雅黑";
	font-weight: normal;
	font-size:18px;
	display:block;
	display:block;
	padding-left:19px;
	height:25px;
	line-height:25px;
}


